@model List<HMS.Web.Models.Domain.NewsPost>
@{

}
<section class="h-100 gradient-form" style="background-image: url('https://images.pexels.com/photos/358636/pexels-photo-358636.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); background-size: cover; background-position: center; ">
<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                Home Owner Management System
            </h1>
            <p class="lead">
                Effortlessly manage your bills and stay informed about the latest local events.
            </p>
            <div>
                <a class="btn me-3 btn-primary"
                   asp-area=""
                   asp-controller="Account"
                   asp-action="Login">Login</a>
                <a class="btn me-3 btn btn-outline-primary"
                   asp-area=""
                   asp-controller="Account"
                   asp-action="Register">Register</a>
                
            </div>
        </div>


        <div class="col-12 col-lg-6">
           
        </div>
    </div>
</div>
</section>


